--
-- PostgreSQL database dump
--

\restrict YTYBxVtC7TPegi8pqjeSVf2QfF9SBBhFoTeR7t0oOSvceEza45ATFiCOOiujPvE

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: inventories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventories (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    product_id bigint,
    physical_stock bigint,
    reserved_stock bigint
);


ALTER TABLE public.inventories OWNER TO postgres;

--
-- Name: inventories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventories_id_seq OWNER TO postgres;

--
-- Name: inventories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventories_id_seq OWNED BY public.inventories.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    sku text,
    name text,
    customer text
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: stock_in_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_in_items (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    stock_in_id bigint,
    product_id bigint,
    qty bigint
);


ALTER TABLE public.stock_in_items OWNER TO postgres;

--
-- Name: stock_in_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_in_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_in_items_id_seq OWNER TO postgres;

--
-- Name: stock_in_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_in_items_id_seq OWNED BY public.stock_in_items.id;


--
-- Name: stock_ins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_ins (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    status text
);


ALTER TABLE public.stock_ins OWNER TO postgres;

--
-- Name: stock_ins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_ins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_ins_id_seq OWNER TO postgres;

--
-- Name: stock_ins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_ins_id_seq OWNED BY public.stock_ins.id;


--
-- Name: stock_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_logs (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    product_id bigint,
    transaction_type text,
    reference_id bigint,
    qty bigint,
    before_stock bigint,
    after_stock bigint
);


ALTER TABLE public.stock_logs OWNER TO postgres;

--
-- Name: stock_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_logs_id_seq OWNER TO postgres;

--
-- Name: stock_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_logs_id_seq OWNED BY public.stock_logs.id;


--
-- Name: stock_out_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_out_items (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    stock_out_id bigint,
    product_id bigint,
    qty bigint
);


ALTER TABLE public.stock_out_items OWNER TO postgres;

--
-- Name: stock_out_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_out_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_out_items_id_seq OWNER TO postgres;

--
-- Name: stock_out_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_out_items_id_seq OWNED BY public.stock_out_items.id;


--
-- Name: stock_outs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_outs (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    status text
);


ALTER TABLE public.stock_outs OWNER TO postgres;

--
-- Name: stock_outs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_outs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_outs_id_seq OWNER TO postgres;

--
-- Name: stock_outs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_outs_id_seq OWNED BY public.stock_outs.id;


--
-- Name: inventories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories ALTER COLUMN id SET DEFAULT nextval('public.inventories_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: stock_in_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_in_items ALTER COLUMN id SET DEFAULT nextval('public.stock_in_items_id_seq'::regclass);


--
-- Name: stock_ins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_ins ALTER COLUMN id SET DEFAULT nextval('public.stock_ins_id_seq'::regclass);


--
-- Name: stock_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_logs ALTER COLUMN id SET DEFAULT nextval('public.stock_logs_id_seq'::regclass);


--
-- Name: stock_out_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_out_items ALTER COLUMN id SET DEFAULT nextval('public.stock_out_items_id_seq'::regclass);


--
-- Name: stock_outs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_outs ALTER COLUMN id SET DEFAULT nextval('public.stock_outs_id_seq'::regclass);


--
-- Data for Name: inventories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventories (id, created_at, updated_at, deleted_at, product_id, physical_stock, reserved_stock) FROM stdin;
1	2026-03-07 05:12:53.624582+07	2026-03-07 05:24:30.043927+07	\N	1	40	0
2	2026-03-07 05:45:07.599328+07	2026-03-07 05:45:35.902032+07	\N	2	100	80
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, created_at, updated_at, deleted_at, sku, name, customer) FROM stdin;
1	2026-03-07 05:02:02.952997+07	2026-03-07 05:02:02.952997+07	\N	SKU001	Product A	Customer A
2	2026-03-07 05:44:41.942165+07	2026-03-07 05:44:41.942165+07	\N	SKU002	Product B	Customer A
\.


--
-- Data for Name: stock_in_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_in_items (id, created_at, updated_at, deleted_at, stock_in_id, product_id, qty) FROM stdin;
1	2026-03-07 05:09:59.536158+07	2026-03-07 05:09:59.536158+07	\N	1	1	50
2	2026-03-07 05:17:43.922478+07	2026-03-07 05:17:43.922478+07	\N	2	1	20
3	2026-03-07 05:44:52.791782+07	2026-03-07 05:44:52.791782+07	\N	3	2	100
\.


--
-- Data for Name: stock_ins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_ins (id, created_at, updated_at, deleted_at, status) FROM stdin;
1	2026-03-07 05:09:59.534824+07	2026-03-07 05:12:53.626216+07	\N	DONE
2	2026-03-07 05:17:43.921975+07	2026-03-07 05:18:54.012777+07	\N	DONE
3	2026-03-07 05:44:52.791123+07	2026-03-07 05:45:07.599844+07	\N	DONE
\.


--
-- Data for Name: stock_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_logs (id, created_at, updated_at, deleted_at, product_id, transaction_type, reference_id, qty, before_stock, after_stock) FROM stdin;
1	2026-03-07 05:12:53.62563+07	2026-03-07 05:12:53.62563+07	\N	1	STOCK_IN	1	50	0	50
2	2026-03-07 05:18:54.012777+07	2026-03-07 05:18:54.012777+07	\N	1	STOCK_IN	2	20	50	70
3	2026-03-07 05:21:10.980375+07	2026-03-07 05:21:10.980375+07	\N	1	STOCK_OUT	1	30	70	40
4	2026-03-07 05:45:07.599844+07	2026-03-07 05:45:07.599844+07	\N	2	STOCK_IN	3	100	0	100
\.


--
-- Data for Name: stock_out_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_out_items (id, created_at, updated_at, deleted_at, stock_out_id, product_id, qty) FROM stdin;
1	2026-03-07 05:20:30.387389+07	2026-03-07 05:20:30.387389+07	\N	1	1	30
2	2026-03-07 05:23:24.638255+07	2026-03-07 05:23:24.638255+07	\N	2	1	10
3	2026-03-07 05:45:35.902537+07	2026-03-07 05:45:35.902537+07	\N	3	2	80
\.


--
-- Data for Name: stock_outs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_outs (id, created_at, updated_at, deleted_at, status) FROM stdin;
1	2026-03-07 05:20:30.386636+07	2026-03-07 05:21:10.981015+07	\N	DONE
2	2026-03-07 05:23:24.638255+07	2026-03-07 05:24:30.044445+07	\N	CANCELLED
3	2026-03-07 05:45:35.902537+07	2026-03-07 05:45:50.351961+07	\N	IN_PROGRESS
\.


--
-- Name: inventories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventories_id_seq', 2, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 2, true);


--
-- Name: stock_in_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_in_items_id_seq', 3, true);


--
-- Name: stock_ins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_ins_id_seq', 3, true);


--
-- Name: stock_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_logs_id_seq', 4, true);


--
-- Name: stock_out_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_out_items_id_seq', 3, true);


--
-- Name: stock_outs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_outs_id_seq', 3, true);


--
-- Name: inventories inventories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT inventories_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: stock_in_items stock_in_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_in_items
    ADD CONSTRAINT stock_in_items_pkey PRIMARY KEY (id);


--
-- Name: stock_ins stock_ins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_ins
    ADD CONSTRAINT stock_ins_pkey PRIMARY KEY (id);


--
-- Name: stock_logs stock_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_logs
    ADD CONSTRAINT stock_logs_pkey PRIMARY KEY (id);


--
-- Name: stock_out_items stock_out_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_out_items
    ADD CONSTRAINT stock_out_items_pkey PRIMARY KEY (id);


--
-- Name: stock_outs stock_outs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_outs
    ADD CONSTRAINT stock_outs_pkey PRIMARY KEY (id);


--
-- Name: products uni_products_sku; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT uni_products_sku UNIQUE (sku);


--
-- Name: idx_inventories_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventories_deleted_at ON public.inventories USING btree (deleted_at);


--
-- Name: idx_products_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_deleted_at ON public.products USING btree (deleted_at);


--
-- Name: idx_stock_in_items_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_in_items_deleted_at ON public.stock_in_items USING btree (deleted_at);


--
-- Name: idx_stock_ins_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_ins_deleted_at ON public.stock_ins USING btree (deleted_at);


--
-- Name: idx_stock_logs_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_logs_deleted_at ON public.stock_logs USING btree (deleted_at);


--
-- Name: idx_stock_out_items_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_out_items_deleted_at ON public.stock_out_items USING btree (deleted_at);


--
-- Name: idx_stock_outs_deleted_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_outs_deleted_at ON public.stock_outs USING btree (deleted_at);


--
-- Name: inventories fk_inventories_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventories
    ADD CONSTRAINT fk_inventories_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: stock_in_items fk_stock_in_items_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_in_items
    ADD CONSTRAINT fk_stock_in_items_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: stock_in_items fk_stock_ins_items; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_in_items
    ADD CONSTRAINT fk_stock_ins_items FOREIGN KEY (stock_in_id) REFERENCES public.stock_ins(id);


--
-- Name: stock_out_items fk_stock_out_items_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_out_items
    ADD CONSTRAINT fk_stock_out_items_product FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: stock_out_items fk_stock_outs_items; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_out_items
    ADD CONSTRAINT fk_stock_outs_items FOREIGN KEY (stock_out_id) REFERENCES public.stock_outs(id);


--
-- PostgreSQL database dump complete
--

\unrestrict YTYBxVtC7TPegi8pqjeSVf2QfF9SBBhFoTeR7t0oOSvceEza45ATFiCOOiujPvE

